.w-bord {
  border: 1px solid white;
}

/* .container {
  height: 85%;
} */

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.next {
  height: 85vh;
}

@media only screen and (max-width: 1600px) {
  .next {
    height: 120vh;
  }
}
