.w-bord {
  border: 1px solid white;
}

/* .container {
  height: 85%;
} */

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

/* .next {
  height: 87vh;
}

@media only screen and (max-width: 1500px) {
  .next {
    height: 133vh;
  }
} */
