<div *ngIf="!(loading$ | async); else spinner" class="container">
  <div class="d-flex justify-content-around text-light">
    <div class="col-4 bg-06 text-center">
      <app-left-section
        [profile]="profile"
        [detailsLoading]="userDetailsLoading$ | async"
        [userDetails]="userDetails$ | async"
        [isLoading]="loading$ | async"
        (onFriendButtonClick)="onFriendButtonClick($event)"
        (onGoBackClick)="onGoBackClick()"
      ></app-left-section>
    </div>
    <div class="col-7 d-flex flex-column justify-content-between next">
      <div class="bg-06 p-2">
        <app-personal-info
          [profile]="profile"
          [user$]="userDetails$"
          [isProfileLoading]="loading$ | async"
          [isUserDetailsLoading]="userDetailsLoading$ | async"
          [countryDetails]="userCountryDetails$ | async"
        ></app-personal-info>
      </div>
      <div class="bg-06 p-2">
        <app-friends-list-thumbnails
          [isLoading]="userDetailsLoading$ | async"
          [userDetails]="userDetails$ | async"
          (addFriendClicked)="onFriendButtonClick($event)"
        ></app-friends-list-thumbnails>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="container h-50 d-flex align-items-center justify-content-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
