@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --primary: #3f51b5;
  --primary-01: #5e71da;
  --primary-hover: #2a3ca5;
  --dark-body-01: #3f404d;
  --dark-body-02: #40414f;
  --dark-body-03: #565869;
  --dark-body-04: #41414c;
  --dark-body-05: #373744;
  --dark-body-06: #36374284;
}

html,
body {
  height: 100%;
  background-color: var(--dark-body-02);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.user-image {
  border-radius: 50%;
  height: 13%;
  width: 13%;
}
.user-image-big {
  width: 250px;
  border-radius: 50%;
}

.image-column {
  max-width: 15%;
}
.add-btn {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.add-btn:hover {
  background-color: var(--primary-hover);
  border: 1px solid var(--primary-hover);
  transition: all 0.5s;
}

.text-root-primary {
  color: var(--primary);
}

.text-root-disabled {
  color: var(--dark-body-02);
}

.delete-icon {
  color: #5bc0de;
}

.delete-icon:hover {
  color: #ccf1fd;
  cursor: pointer;
}

.bg-06 {
  background-color: var(--dark-body-06);
}
.bg-03 {
  background-color: var(--dark-body-04);
}

.bg-purp {
  background-color: var(--primary);
}
.text-purp {
  color: var(--primary-01);
}

.clickable {
  cursor: pointer;
  transition: all 70ms ease-in;
}

.clickable:active {
  transform: scale(0.92);
}

.suffix {
  font-size: x-small;
  vertical-align: top;
  position: relative;
  top: -0.2em;
}
