.error {
  font-size: 11.7rem;
}

.error-msg {
  font-size: 2rem;
}

.btn:hover {
  color: var(--primary);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn:active {
  transform: scale(0.98);
}
