.host {
  max-height: 80vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-container {
  background-color: var(--dark-body-03);
  /* border: 2px solid var(--primary); */
  /* border-radius: 10px; */
  /* overflow: hidden; */
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: 0;
}

i {
  font-size: x-large;
  font-weight: 900;
}

i:hover {
  cursor: pointer;
}
