.header-container {
  border: 3px solid var(--primary);
  /* border-radius: 10px; */
  background-color: var(--primary);
}

.clickable:hover {
  cursor: pointer;
}

img {
  border-radius: 50%;
  display: block;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.image-cell {
  width: 12%;
  white-space: nowrap;
}

th {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: medium;
}

td {
  padding: 20px;
}

tr {
  background-color: var(--dark-body-03);
  border-bottom: 10px solid var(--dark-body-02);
}

tr:hover {
  border-left: 4px solid var(--primary);
  /* border-right: 3px solid var(--primary); */
  background-color: var(--dark-body-01);
  transition: all 0.6s;
}

tr:nth-child(1) {
  border-bottom: 12px solid var(--dark-body-02);
}

tr:nth-child(1):hover {
  background-color: var(--primary);
}
