<table class="text-light w-100 position-relative mb-0">
  <tr class="header-container mb-3">
    <th></th>
    <th *ngFor="let cell of headers">{{ cell }}</th>
    <th></th>
  </tr>

  <tr [class.opacity-0]="dataLoading" *ngFor="let user of data; let i = index">
    <td (click)="userClick(user)" class="clickable image-cell">
      <img
        *ngIf="user.gender === 'Male'; else female"
        class="w-50"
        src="{{ user.avatar ? user.avatar : stockImageMale }}"
        alt=""
      />
    </td>

    <td (click)="userClick(user)" class="clickable">
      {{ user.firstName }} {{ user.lastName }}
    </td>
    <td (click)="userClick(user)" class="clickable">
      {{ user.email }}
    </td>
    <td (click)="userClick(user)" class="clickable">
      {{ user.gender }}
    </td>
    <td (click)="userClick(user)" class="clickable">
      {{ readableBirthdays[i] }} ({{ ages[i] }} Years)
    </td>
    <td (click)="userClick(user)" class="clickable">{{ user.nationality }}</td>
    <td>
      <app-base-icon
        (click)="deleteUser(user)"
        iconClass="fa-regular fa-trash-can delete-icon"
        toolTip="Deletes an Employee from the database"
      ></app-base-icon>
    </td>
  </tr>
</table>

<p
  *ngIf="data.length < 1 && componentLoaded"
  class="w-100 lead text-light text-center my-2"
>
  No Users Found
</p>

<div
  *ngIf="navigatedThroughPagination || data.length >= 8"
  [class.opacity-0]="dataLoading"
  class="text-light"
>
  <app-datatable-pagination class="w-25 text-center"></app-datatable-pagination>
</div>

<ng-template #female let-user>
  <img
    class="w-50"
    src="{{ user.avatar ? user.avatar : stockImageFemale }}"
    alt=""
/></ng-template>
