<div class="container text-light h-100 p-5">
  <div class="row d-flex justify-content-around mt-5">
    <div class="col-5 p-5">
      <p class="h2 mt-5">Welcome to Staff Connect</p>
      <p class="lead">
        At Staff Connect, we believe in the power of connection. Our platform is
        more than just a tool; it's a community where professionals meet,
        collaborate, and thrive together. Whether you're a seasoned expert or
        just starting your career journey, we're here to make your professional
        life more connected and enjoyable.
      </p>

      <p class="mt-5 fs-6">By Philip Eze {{ currentYear }}</p>
    </div>
    <div class="col-6 text-center">
      <img
        class="img-fluid w-75"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Illu-community.svg/512px-Illu-community.svg.png"
        alt=""
      />
    </div>
  </div>
</div>
