<div class="user-border p-3 mb-4 text-light user-item">
  <div class="row align-items-center">
    <span (click)="userClick()" class="col clickable"
      ><img
        class="user-image"
        src="{{ user.avatar }}"
        alt="{{ user.username }}"
    /></span>
    <span (click)="userClick()" class="col clickable">
      {{ user.firstName }} {{ user.lastName }}</span
    >
    <span (click)="userClick()" class="col clickable"> {{ user.email }}</span>
    <span (click)="userClick()" class="col clickable"> {{ user.gender }}</span>
    <span (click)="userClick()" class="col clickable">
      {{ userReadableBirthday }} ({{ age }} Years)</span
    >
    <span class="col d-flex justify-content-around">
      <span (click)="userClick()" class="clickable">
        {{ user.nationality }}</span
      >
      <span>{{ "   " }}</span>
      <span (click)="deleteUser()">
        <i class="fa-regular fa-trash-can delete-icon"></i>
      </span>
    </span>
  </div>
</div>
