.user-border {
  border: 5px solid var(--primary);
  border-radius: 10px;
}

.column-width {
  width: 20%;
}

.user-item {
  background-color: var(--dark-body-03);
}

.user-item:hover {
  background-color: var(--dark-body-01);
  transition: all 1s;
  /* cursor: pointer; */
}

.clickable:hover {
  cursor: pointer;
}

.delete-icon {
  color: #5bc0de;
}

.delete-icon:hover {
  color: #ccf1fd;
  cursor: pointer;
}

img {
  border-radius: 50%;
}
