::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Color of the scrollbar thumb */
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #555; /* Color of the scrollbar track */
  cursor: pointer;
}
/* styles.css */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

img {
  box-shadow: 2px 2px 5px 1px rgba(40, 40, 40, 0.85);
  border-radius: 50%;
}

.clickbar {
  cursor: pointer;
}

.friend-box {
  border: 1px solid var(--dark-body-03);
}
