<div class="d-flex h-100 w-25 align-items-center position-relative mb-1">
  <input
    class="w-100 no-outline"
    type="text"
    name="inputValue"
    placeholder="Search..."
    [(ngModel)]="inputValue"
    (click)="inputClicked()"
    (keydown.enter)="handleInput()"
    (input)="handleInputChange($event)"
    data-testid="input"
    #inputElement
  />
  <div class="absolute-icon">
    <div class="d-flex justify-content-center align-items-center h-100">
      <app-base-icon
        data-testid="inputIconDefault"
        *ngIf="!loading; else spinner"

        iconClass=" fa-solid text-light fa-magnifying-glass"
        toolTip="Search for a unique Staff"
        (click)="handleInput()"
      ></app-base-icon>
    </div>
  </div>
</div>

<ng-template #spinner>
  <app-base-icon
    data-testid="inputIconLoading"
    iconClass="fas fa-circle-notch fa-spin text-light"
    data-testid="inputIconSpinner"
  >
  </app-base-icon>
</ng-template>
